:root{
    --PrimaryFont: 'Montserrat', sans-serif;
    --SecondaryFont: 'Fraunces', serif;

    --darkCyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --VeryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}



html,body{
    height: 100%;
}
body{
    font-family: var(--PrimaryFont);
    font-weight: 300;
    font-size: 14px;
    background-color: var(--cream);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 700;
    margin-bottom: 15px;
}

p{
    font-weight: 300;
    margin-bottom: 15px;
}
.container{
    width: 600px;
    display: flex;

}
img{
    max-width: 100%;
    height: auto;
    
}
.left{
    flex-basis: 50%;
}
.left img.desktop{
    border-radius: 10px 0 0 10px;
    display: block;
}
.left img.mobile{
    border-radius: 10px 10px 0px 0px;
    display: none;
}

.right{
    flex-basis: 50%;
    background-color: var(--White);
    border-radius: 0 10px 10px 0;
    padding: 30px;
}

.right h2{
    font-size: 32px;
    color: var(--VeryDarkBlue);
}
.right h6{
    color: var(--darkGrayishBlue);
    font-size: 14px;
    font-family: var(--PrimaryFont);
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.right p{
    color: var(--darkGrayishBlue);
    line-height: 1.5em;
    font-weight: 500;
    font-size: 14px;

}

.right p.price{
    font-family: var(--SecondaryFont);
    font-size: 32px;
    color: var(--darkCyan);
}

.right p.price span{
    font-family: var(--PrimaryFont);
    font-size: 14px;
    color: var(--darkGrayishBlue);
    text-decoration: line-through;
    position: relative;
    top: -5px;
}

.right button{
    background-color: var(--darkCyan);
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: none;
    color: var(--White);
    font-weight: 500;
}
.right button i{
    display: inline-block;
    padding-right: 10px;
    position: relative;
    top: 3px;

}

@media only screen and (max-width: 600px) {

    body{
        align-items: flex-start;
        
    }
    .container{
        width: 90%;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .left img.desktop{
        border-radius: 10px 0 0 10px;
        display: none;
    }
    .left img.mobile{
        border-radius: 10px 10px 0px 0px;
        display: block;
    }
    .right{
        border-radius: 0 0 10px 10px;
    }

    
}
